Source: cutefish-filemanager
Section: devel
Priority: optional
Maintainer: CutefishOS <support@cutefishos.com>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               libkf6kio-dev,
               libkf6solid-dev,
               libkf6windowsystem-dev,
               libkf6config-dev,
               libkf6xmlgui-dev,
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-tools-dev,
               qt6-tools-dev-tools
Standards-Version: 4.5.0
Homepage: https://cutefishos.com

Package: cutefish-filemanager
Architecture: any
Depends: qml6-module-qtquick-controls,
         qml6-module-qtquick,
         qml6-module-qtquick-layouts,
         qml6-module-qt-labs-platform,
         qml6-module-qt-labs-settings,
         qml6-module-qtqml,
         qml6-module-qtquick-window,
         qml6-module-qtquick-dialogs,
         qml6-module-qt5compat-graphicaleffects,
         fishui,
         ${misc:Depends},
         ${shlibs:Depends}
Description: CutefishOS File Manager
